{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Блогикум</title>
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
  <header class="bg-info p-2">
    <div class="container d-flex align-items-center">
      <div class="rounded-circle bg-success text-white text-center mr-3" style="width:40px; height:40px; line-height:40px;">В</div>
      <span class="h4 mb-0 mr-4">Блогикум</span>
      <nav class="ml-auto">
        <a href="{% url 'blog:index' %}" class="btn btn-primary">Лента записей</a>
        <a href="{% url 'pages:about' %}" class="btn btn-link">О проекте</a>
        <a href="{% url 'pages:rules' %}" class="btn btn-link">Наши правила</a>
      </nav>
    </div>
  </header>
  <div class="container mt-4">
    <h1>Публикации в категории - {{ category_slug }}</h1>
  </div>
  <footer class="container text-center mt-5 mb-3 text-muted">
    © Блогикум
  </footer>
</body>
</html>
